<div class="building">
  <h1>{{ building.name }}</h1>
  <div *ngIf="building.name == 'Гильдия'">
    <h2>{{ building.name }}</h2>
  </div>
  <div *ngIf="building.name == 'Лес'">
    <div style="display: flex; justify-content: space-between; align-items: center; align-content: center">
      <div
        style="width: 40%; display: flex; flex-direction: column; text-align: center; align-items: center; justify-content: center; padding: 10px">
        <p [ngStyle]="{
        background: 'red',
        width: (character.healthPoints / character.maxHealthPoints * 100) + '%',
        margin: '10px',
        borderRadius: '50px'
      }">{{ character.healthPoints }}</p>
        <p [ngStyle]="{
        background: 'aqua',
        width: (character.manaPoints / character.maxManaPoints * 100) + '%',
        margin: '10px',
        borderRadius: '50px'
      }">{{ character.manaPoints }}</p>
        <img alt="{{ character.name }}" src="{{ character.imageURL }}"
             style="height: 450px; width: auto; border-radius: 50px; margin: 10px;">
      </div>
      <button class="attack-button">
        Атаковать!
      </button>
      <div
        style="width: 40%; display: flex; flex-direction: column; text-align: center; align-items: center; justify-content: center; padding: 10px">
        <p [ngStyle]="{
        background: 'red',
        width: (character.healthPoints / character.maxHealthPoints * 100) + '%',
        margin: '10px',
        borderRadius: '50px'
      }">{{ character.healthPoints }}</p>
        <img alt="Противник" src="./assets/img/enemy.png"
             style="height: 450px; width: auto; border-radius: 50px; margin: 10px;">
      </div>
    </div>
  </div>
  <div *ngIf="building.name == 'Деревня'">
    <h2>{{ building.name }}</h2>
  </div>
</div>
