<header>
  <div class="header-element">
    <a href="#">
      <p>Наши партнеры</p>
    </a>
  </div>

  <div class="header-element">
    <a (click)="setCharacter(null); setBuilding(null)"><p>Главная</p></a>
  </div>

  <div class="header-element user">
    <a href="#"><img alt="Личный кабинет" src="assets/img/user.png"></a>
  </div>
</header>

<div class="container">
  <div class="cards" *ngIf="character == null">
    <a *ngFor="let character of characters" (click)="setCharacter(character.character)">
      <app-card
        [card]="character"
      ></app-card>
    </a>
  </div>
  <div class="cards" *ngIf="character != null && building == null">
    <a *ngFor="let building of buildings" (click)="setBuilding(building.building)">
      <app-card
        [card]="building"
      ></app-card>
    </a>
  </div>
  <div class="game" *ngIf="character != null && building != null">
    <app-game
      [character]="character"
      [building]="building"
    ></app-game>
  </div>
</div>

<footer>
  <p>Сделано командой CYBERSQUAD</p>
</footer>
